# 1. Dise침o del Modelo de la Bodega de Datos

    a. Analizar la estructura del dataset y comprender sus atributos.
    b. Decidir qu칠 modelo de bodega de datos utilizar (Estrella o copo de Nieve) y justificar la decisi칩n.
    c. Dise침ar el diagrama de tablas para el modelo elegido.
    d. Crear la bodega de datos en PostgreSQL seg칰n el dise침o elegido.

# B Decidir qu칠 modelo de Bodega de Datos utilizar

El modelo Estrella es la mejor opci칩n para este proyecto debido a su simplicidad, eficiencia en consultas anal칤ticas y alineaci칩n con los objetivos del proyecto. Aunque el modelo Copo de Nieve podr칤a reducir la redundancia, no ofrece ventajas significativas en este caso, ya que el dataset no es extremadamente grande ni complejo. Adem치s, el modelo Estrella permite un an치lisis r치pido y efectivo, lo que es crucial para la fase de visualizaci칩n y conclusiones del proyecto.

In [144]:
-- Tabla de Cliente
CREATE TABLE customer (
    customer_id VARCHAR(50) PRIMARY KEY,  -- Cambiado a VARCHAR
    gender VARCHAR(10),
    age INT
);

-- Tabla de Producto
CREATE TABLE product (
    product_id SERIAL PRIMARY KEY,
    category VARCHAR(50)
);

-- Tabla de M칠todo de Pago
CREATE TABLE paymentmethod (
    payment_method_id SERIAL PRIMARY KEY,
    payment_method VARCHAR(50)
);

-- Tabla de Centro Comercial
CREATE TABLE shoppingmall (
    shopping_mall_id SERIAL PRIMARY KEY,
    shopping_mall VARCHAR(100)
);

-- Tabla de Tiempo
CREATE TABLE time (
    invoice_date DATE PRIMARY KEY,
    day INT,
    month INT,
    year INT
);

-- Tabla de Hechos (Ventas)
CREATE TABLE sales (
    invoice_no VARCHAR(20) PRIMARY KEY,
    customer_id VARCHAR(50) REFERENCES customer(customer_id),
    product_id INT REFERENCES product(product_id),
    payment_method_id INT REFERENCES paymentmethod(payment_method_id),
    shopping_mall_id INT REFERENCES shoppingmall(shopping_mall_id),
    invoice_date DATE REFERENCES time(invoice_date),
    quantity INT,
    price DECIMAL(10, 2),
    total_sales DECIMAL(10, 2)
);

SyntaxError: invalid syntax (2484715817.py, line 1)

# Extracci칩n, Transformaci칩n y Carga de Datos (ETL)
## a. Extraer los datos desde el dataset de Kaggle usando Pandas

In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [2]:
# Extracci칩n: Cargar datos desde un archivo CSV
# ----------------------------------------------
print("Extrayendo datos del CSV...")
csv_file = "customer_shopping_data.csv" # Rutas del archivo CSV
# Carga el dataset desde el archivo CSV
df = pd.read_csv(csv_file)
print("Datos Extraidos correctamente 游녨")

# Mostrar las primeras filas para verificar la carga
print(df.head())

Extrayendo datos del CSV...
Datos Extraidos correctamente 游녨
  invoice_no customer_id  gender  age  category  quantity    price  \
0    I138884     C241288  Female   28  Clothing         5  1500.40
1    I317333     C111565    Male   21     Shoes         3  1800.51
2    I127801     C266599    Male   20  Clothing         1   300.08
3    I173702     C988172  Female   66     Shoes         5  3000.85
4    I337046     C189076  Female   53     Books         4    60.60

  payment_method invoice_date   shopping_mall
0    Credit Card     5/8/2022          Kanyon
1     Debit Card   12/12/2021  Forum Istanbul
2           Cash    9/11/2021       Metrocity
3    Credit Card   16/05/2021    Metropol AVM
4           Cash   24/10/2021          Kanyon

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

## b. Transformar los datos al modelo definido anteriormente

In [4]:
# Crear la tabla de dimensiones: Customer
customer_df = df[['customer_id','gender', 'age']].drop_duplicates().reset_index(drop=True)

# Crear la tabla de dimesnsiones: Product
product_df = df[['category']].drop_duplicates().reset_index(drop=True)
product_df['product_id'] = product_df.index + 1 # Asinar un ID a cada categoria

# Crear la tabla de dimesnsiones: PaymentMethod
payment_method_df = df[['payment_method']].drop_duplicates().reset_index(drop=True)
payment_method_df['payment_method_id'] = payment_method_df.index + 1 # Asinar un ID a cada metodo de pago

# Crear la tabla de dimensiones: ShoppingMall
shopping_mall_df = df[['shopping_mall']].drop_duplicates().reset_index(drop=True)
shopping_mall_df['shopping_mall_id'] = shopping_mall_df.index + 1  # Asignar un ID 칰nico a cada centro comercial

# Crear la tabla de dimensiones: Time
df['invoice_date'] = pd.to_datetime(df['invoice_date'], format='%d/%m/%Y')  # Convertir a tipo fecha
time_df = df[['invoice_date']].drop_duplicates().reset_index(drop=True)
time_df['day'] = time_df['invoice_date'].dt.day
time_df['month'] = time_df['invoice_date'].dt.month
time_df['year'] = time_df['invoice_date'].dt.year

# Crear la tabla de hechos: Sales
sales_df = df.merge(product_df, on='category', how='left') \
             .merge(payment_method_df, on='payment_method', how='left') \
             .merge(shopping_mall_df, on='shopping_mall', how='left') \
             .merge(time_df, on='invoice_date', how='left') 

# Seleccionar las columnas necesarias para la tabla de hechos
sales_df = sales_df[['invoice_no', 'customer_id', 'product_id', 'payment_method_id', 'shopping_mall_id', 'invoice_date', 'quantity', 'price']]
sales_df['total_sales'] = sales_df['quantity'] * sales_df['price']  # Calcular el total de ventas

print(sales_df.head()) 
print(customer_df.head())
print(product_df.head())
print(payment_method_df.head())
print(shopping_mall_df.head())
print(time_df.head())   
df.info()

  invoice_no customer_id  product_id  payment_method_id  shopping_mall_id  \
0    I138884     C241288           1                  1                 1
1    I317333     C111565           2                  2                 2
2    I127801     C266599           1                  3                 3
3    I173702     C988172           2                  1                 4
4    I337046     C189076           3                  3                 1

  invoice_date  quantity    price  total_sales
0   2022-08-05         5  1500.40      7502.00
1   2021-12-12         3  1800.51      5401.53
2   2021-11-09         1   300.08       300.08
3   2021-05-16         5  3000.85     15004.25
4   2021-10-24         4    60.60       242.40
  customer_id  gender  age
0     C241288  Female   28
1     C111565    Male   21
2     C266599    Male   20
3     C988172  Female   66
4     C189076  Female   53
          category  product_id
0         Clothing           1
1            Shoes           2
2            Books           3
3        Cosmetics           4
4  Food & Beverage           5
  payment_method  payment_method_id
0    Credit Card                  1
1     Debit Card                  2
2           Cash                  3
    shopping_mall  shopping_mall_id
0          Kanyon                 1
1  Forum Istanbul                 2
2       Metrocity                 3
3    Metropol AVM                 4
4    Istinye Park                 5
  invoice_date  day  month  year
0   2022-08-05    5      8  2022
1   2021-12-12   12     12  2021
2   2021-11-09    9     11  2021
3   2021-05-16   16      5  2021
4   2021-10-24   24     10  2021
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  datetime64[ns]
 9   shopping_mall   99457 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 7.6+ MB

## c. Cargar los datos en la bodega de datos de PostgreSQL

In [6]:
# Configurar la conexi칩n a PostgreSQL
engine = create_engine("postgresql://postgres:admin@localhost:5432/Prueba")

# Cargar las tablas de dimensiones
customer_df.to_sql("customer", engine, if_exists="replace", index=False)
product_df.to_sql('product', engine, if_exists='replace', index=False)
payment_method_df.to_sql('paymentmethod', engine, if_exists='replace', index=False)
shopping_mall_df.to_sql('shoppingmall', engine, if_exists='replace', index=False)
time_df.to_sql('time', engine, if_exists='replace', index=False)

# Cargar la tabla de hechos
sales_df.to_sql('sales', engine, if_exists='replace', index=False)

print("Datos cargados correctamente en PostgreSQL 游녨")

Datos cargados correctamente en PostgreSQL 游녨

# Consultas An치liticas en SQL
## a. Dise침ar Consultas SQL que respondan preguntas del negocio:
        i. Total de ventas por Categoria de producto.

In [ ]:
SELECT 
    p.category AS categoria,
    SUM(s.total_sales) AS total_ventas
FROM 
    sales s
JOIN 
    product p ON s.product_id = p.product_id
GROUP BY 
    p.category
ORDER BY 
    total_ventas DESC;

        ii. Clientes con mayor volumen de compras.

In [ ]:
SELECT 
    c.customer_id AS cliente,
    SUM(s.total_sales) AS total_compras
FROM 
    sales s
JOIN 
    customer c ON s.customer_id = c.customer_id
GROUP BY 
    c.customer_id
ORDER BY 
    total_compras DESC
LIMIT 10;

        iii. M칠todos de pago m치s utilizados.

In [ ]:
SELECT 
    pm.payment_method AS metodo_pago,
    COUNT(*) AS total_transacciones
FROM 
    sales s
JOIN 
    paymentmethod pm ON s.payment_method_id = pm.payment_method_id
GROUP BY 
    pm.payment_method
ORDER BY 
    total_transacciones DESC;

        iV. Comparaci칩n de ventas por mes.

In [ ]:
SELECT 
    EXTRACT(YEAR FROM s.invoice_date) AS a침o,
    EXTRACT(MONTH FROM s.invoice_date) AS mes,
    SUM(s.total_sales) AS total_ventas
FROM 
    sales s
GROUP BY 
    a침o, mes
ORDER BY 
    a침o, mes;